# Build directories
ble.build/
ble.dist/
ble.onefile-build/
report_UI.build/
report_UI.dist/
report_UI.onefile-build/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.egg-info/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
*.exe
